@model ClienteModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Cliente
    </div>
    <div class="card-body">

        <form asp-action="Guardar" asp-controller="Cliente" method="post">
             <div class="mb-3">
                <label  class="form-label">Cedula</label>
                <input asp-for="Cedula" type="text" class="form-control"  >
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Nombres</label>
                <input asp-for="Nombres" type="text" class="form-control"  >
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Telefono</label>
                <input asp-for="Telefono" type="text" class="form-control">
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Direccion</label>
                <input asp-for="Direccion" type="text" class="form-control">
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar"  asp-controller="Cliente"  class="btn btn-warning">Volver a la lista</a>
        </form>

    </div>
</div>

